@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;
@use '@shared/styles/fonts' as *;

.wrapper {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
}

.image {
  display: flex;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.title {
  display: flex;
  gap: 2px;
  align-items: center;
  transition: 0.3s;
  @include typography-body-bold;
}

.tags {
  display: flex;

  >*:not(:last-child) {
    margin-right: 4px;
  }
}

.members {
  color: $base_shade1;
  @include typography-caption;
}

.link {
  &:hover {
    .title {
      color: $primary;
    }
  }
}