@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;
@use '@shared/styles/fonts' as *;

.wrapper {
  margin: 28px auto;
  max-width: 546px;
  width: 100%;
}

.head {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid $base_shade4;
}

.cover {
  width: 100%;
  height: 273px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 16px 16px 12px 16px;
  @include typography-headline;
}

.tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
  padding: 8px 16px;

  li {
    border-radius: 20px;
    @include typography-caption;
    background-color: $base_shade4;
    line-height: 19px !important;
    padding: 0 6px;
  }
}

.description {
  padding: 8px 16px;
  @include typography-body;
}

.info {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 12px;

  &Posts,
  &Members {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
      @include typography-body-bold;
    }

    span {
      @include typography-caption;
      color: $base_shade2;
    }
  }

  &Slash {
    height: 20px;
    width: 1px;
    display: flex;
    flex-shrink: 0;
    background-color: $base_shade4;
  }
}