@use '@shared/styles/colors' as *;

.skeleton {
  background-color: $base_shade4;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.rect {
 
}

.circle {
  border-radius: 50% !important;
}

.text {
  border-radius: 4px;
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

.wave {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    animation: wave 1.5s ease-in-out infinite;
  }
}

.none {
  // Без анимации
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

