@use '@shared/styles/fonts' as *;
@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;

.button {
  font-family: $font_inter;
  border-radius: 999px;
  outline: unset !important;

  &.primary {
    background-color: $primary;
    border-color: $primary;
    color: $base_inverse;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $base_inverse !important;
      color: $primary !important;
      border-color: $primary !important;
    }
  }

  &.secondary {
    background-color: $base_shade4;
    border-color: $base_shade4;
    color: $base;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $base_inverse !important;
      color: $primary !important;
      border-color: $primary !important;
    }
  }

  &.inverse {
    background-color: $base_shade4;
    border-color: $base_shade4;
    color: $base_shade1;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $base_inverse !important;
      color: $primary !important;
      border-color: $primary !important;
    }
  }

  &.tertiary {
    background-color: $black_50;
    border-color: $black_50;
    color: $white;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $base_inverse !important;
      color: $primary !important;
      border-color: $primary !important;
    }
  }

  &.l {
    padding: 4px;
    width: 40px;
    height: 40px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &.m {
    padding: 4px;
    width: 32px;
    height: 32px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.s {
    padding: 4px;
    width: 24px;
    height: 24px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.xs {
    padding: 2px;
    width: 20px;
    height: 20px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}