@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;
@use '@shared/styles/fonts' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 28px auto;
  max-width: 546px;
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid $base_shade4;
  padding: 20px 16px;
  border-radius: 8px;
}

.title {
  display: flex;
  margin: 0 auto;
  @include typography-headline;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  background-color: white;
  gap: 24px;
}

.body {
  display: flex;
  flex-direction: column;
  border: 1px solid $base_shade4;
  border-radius: 8px;
  overflow: hidden;
}

.suffix {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    @include typography-caption;
  }
}