// Base

$black_50: #808080;
$white: #FFF;
$background_shade1: #F6F7F8;

// Primary
$primary: #1054DE;
$primary_shade1: #4A82F2;
$primary_shade2: #A9C4F9;
$primary_shade3: #D9E5FC;
$primary_shade4: #FFFFFF;

// Secondary
$secondary: #292B32;
$secondary_shade1: #636878;
$secondary_shade2: #898E9E;
$secondary_shade3: #A5A9B5;
$secondary_shade4: #EBECEF;

// Base
$base: #292B32;
$base_shade1: #636878;
$base_shade2: #898E9E;
$base_shade3: #A5A9B5;
$base_shade4: #EBECEF;

// Base inverse
$base_inverse: #FFFFFF;

// Alert
$alert: #FA4D30;

// Highlight
$highlight: #1054DE;