@use './fonts' as *;

@mixin typography-headline {
  font-family: $font_inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@mixin typography-title-bold {
  font-family: $font_inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@mixin typography-title {
  font-family: $font_inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin typography-body-bold {
  font-family: $font_inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}


@mixin typography-body {
  font-family: $font_inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}


@mixin typography-caption-bold {
  font-family: $font_inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}


@mixin typography-caption {
  font-family: $font_inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}


@mixin typography-caption-small {
  font-family: $font_inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}