@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;
@use '@shared/styles/fonts' as *;

.sidebar {
  background-color: $white;
  height: 100vh;
  width: 288px;
  border-right: 1px solid $base_shade4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.headWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid $base_shade4;
}

.headInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include typography-headline;
}

.notifications {
  position: relative;
}

.newNotification {
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;

  span {
    border-radius: 999px;
    background-color: $alert;
    width: 8px;
    height: 8px;
  }
}

.navigation {
  padding: 8px 0;
  border-bottom: 1px solid $base_shade4;
}

.create {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 8px;

  span {
    transition: 0.3s;
    @include typography-body-bold;
  }

  svg {
    transition: 0.3s;
  }

  &:hover {
    span {
      color: $primary;
    }

    svg {
      color: $primary;
    }
  }
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  background-color: $secondary_shade4;
}

.communitiesSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.subtitle {
  padding: 8px 16px;
  margin: 8px 0;
  @include typography-title-bold;
}