@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;
@use '@shared/styles/fonts' as *;

.titleSkeleton {
  margin: 0 auto;
}

.subtitleSkeleton {
  margin-top: 24px;
}

.descriptionSkeleton {
  margin-top: 2px;
}


.leave {
  padding: 16px 0;
}

.lastItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  padding-top: 16px;
}