@use '@shared/styles/colors' as *;
@use '@shared/styles/typography' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  user-select: none;

  &:hover {
    .title {
      color: $primary;
    }

    img {
      transform: scale(1.1);
    }
  }
}

.avaWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $base_shade4;
  width: 64px;
  height: 64px;
  border-radius: 999px;
}

.avaNotWatched {
  background: linear-gradient(200deg, #339AF9 0%, #78FA58 100%) !important;
}

.avaBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 61px;
  height: 61px;
  border-radius: 999px;
}

.ava {
  border-radius: 999px;
  width: 56px;
  height: 56px;
  overflow: hidden;

  img {
    transition: 0.3s;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.title {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include typography-caption;
  transition: 0.3s;
}

.verification {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  bottom: 0;
}